<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="BranchName" value="develop"/>
    <add key="CheckoutPath" value="D:\Study\.Net Core\CoreWebAppDocker\"/>
  </appSettings>
</configuration>